body,div,span,p,ul,li,h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-family:arial,helvetica;font-size:14px}
ul{list-style:none}
form{display:inline;}
img{border:0}
td{vertical-align:top}
textarea{font-size:12px;font-family:Arial, Helvetica}


select{border: 1px solid #BFBDBD;padding:4px;font-size:16px; height:27px; margin:3px 0 8px 0}
input{font-style:normal;color:#000000;padding:5px;font-size:16px;}
input[type=password]{font-style:normal;color:#000000;padding:5px;font-size:16px;}
input[type=button],[type=submit] {padding:5px 20px;font-size:16px; color:#FFFFFF; background-color:#7FA5BD; cursor: pointer;}

/* SMALL INPUTS FOR META */
select.meta{border: 1px solid #BFBDBD;padding:4px;font-size:12px; width:150px; height:18px; margin:3px 0 8px 0}
select.metashort{border: 1px solid #BFBDBD;padding:4px;font-size:12px; width:40px; height:18px; margin:3px 0 8px 0}
select.metanodebox{border: 1px solid #BFBDBD;padding:4px;font-size:12px; width:100%; height:100px; margin:3px 0 8px 0}
input.meta{font-style:normal;color:#000000;padding:1px;font-size:12px;}
input[type=password].meta{font-style:normal;color:#000000;padding:5px;font-size:12px;}
input[type=button],[type=submit].meta{margin:10px 2px; padding:5px 10px;font-size:12px; color:#FFFFFF; background-color:#7FA5BD; cursor: pointer;}

input.wht{border:1px solid #FFFFFF; margin:0 5px; font-family:Arial, Helvetica;background-color:#7FA5BD;color:#FFFFFF}
input.whtbtn{float:right;margin:0;border:1px solid #FFFFFF; font-family:Arial, Helvetica;background-color:#7FA5BD;color:#FFFFFF}
input.dark{border:1px solid #FFFFFF; font-family:Arial, Helvetica;background-color:#1B2F44;color:#FFFFFF}
input.void{border:1px solid #DDDDDD; margin:0 0 0 5px; font-family:Arial, Helvetica;background-color:#7FA5BD;color:#DDDDDD}


select.std_select{border: 1px solid #BFBDBD;padding:4px;font-size:16px; height:27px; margin:3px 0 8px 0}
input.std_input{font-style:normal;color:#000000;padding:5px;font-size:16px;width:100%}
input.std_input_date{font-style:normal;color:#000000;padding:5px;font-size:16px; width:90px; margin: 0 5px}
input.std_button{padding:5px 20px;font-size:16px; color:#FFFFFF; background-color:#7FA5BD; cursor: pointer;}
input.std_button_border{padding:5px 20px;font-size:16px; color:#FFFFFF; border: 1px #FFFFFF solid; background-color:#7FA5BD; cursor: pointer;}


h6{font-size:13px;margin:5px 0}

a{color:#000000;text-decoration:none}
.std{text-decoration:none;text-align:right;margin:0;padding:0;font-family:arial,helvetica;font-size:12px;color:#000000}

#pagehead{
font-family: Georgia,Times,serif;
font-size: 24px;
width:100%;
color: #FFFFFF;
background-color: #1B2F44;
border-bottom: 4px #7FA5BD solid;
overflow: auto;
}

#pagehead_left{font-family: Georgia,Times,serif;font-size: 24px;padding: 10px 0 10px 10px; width:45%; display:inline; float:left; }
#pagehead_right{position:absolute;font-size: 12px; padding: 15px 0 10px 0px; overflow:hide;width:50%; display:inline; float:left; text-align:right; }
.currentlanguage{font-family:Georgia,Times,serif;font-size: 16px; font-weight: normal;font-style:oblique; color:#999999;  letter-spacing:1px; padding-left:50px}

.other{
font-family: Helvetica, Arial, sans-serif;
font-size: 32px;
font-weight:bold;
color: #4983BE;
}

.logintop{
display:inline;
width:800px;
padding-right:30px;
text-align:right;
font-family: Georgia,Times,serif;
font-size: 14px;
font-weight:bold;
color: #FFFFFF;
background-color: #AAAAAA;
}

#loginbox{
margin:10% auto 20%;
padding:20px 20px 40px;
width: 300px;
border:1px solid #999999;
font-family: Helvetica, sans-serif;
font-size: 1em;
color: #999999;
}
#loginbox input{margin:5px 0 10px 0;width:100%}
#loginbox input[type=submit]{width:30%; float:right}

.dashboardbox{border: 2px #7FA5BD solid; padding:0px;background-color:#DDDDDD;width:500px;margin:15px 15px 0 0;}
.dashboardbox_head{font-family:serif;font-size:24px;color:#FFFFFF; padding:3px 10px 3px 10px;background-color:#7FA5BD}
.dashboardbox_head .arrow{font-family:serif;font-size:24px;color:#FFFFFF;float:right;cursor:pointer}
.dashboardbox_body{padding:10px;background-color:#DDDDDD;}

ul#adminmenu {margin:0;padding:0;padding-left:5px;background:#DDDDDD;border-bottom: 4px #7FA5BD solid;}
ul#adminmenu li{display:inline;font-family:arial;font-size:12px}
ul#adminmenu li a{text-decoration:none;padding:0;padding-left:5px;padding-right:5px;color:#000000}
li a.on{background-color:#7FA5BD;color:#FFFFFF }


ul#adminsubmenu {margin:0;padding:0;padding-left:5px;padding-bottom:3px;background-color:#7FA5BD;border-bottom: 1px #1B2F44 solid;}
ul#adminsubmenu li{display:inline;font-family:arial;font-size:12px}
ul#adminsubmenu li a{text-decoration:none;padding:0;padding-left:5px;padding-right:5px;color:#000000}

#content{margin:10px; }

/*
 *	Common boxes
 *
 */


#editbox_head{width:100%; font-family:serif;font-size:2em;color:#FFFFFF; background-color:#7FA5BD; padding:5px 10px;
box-sizing: border-box;
}
#editbox_head a{color:#FFFFFF;text-decoration:none}

#editbox{width:100%;border: 2px #7FA5BD solid; background-color:#DDDDDD;box-sizing: border-box;}

#box_head{font-family:serif;font-size:24px;color:#FFFFFF; padding:3px 10px 3px 10px;background-color:#7FA5BD} /*width:804px;*/
#box_body{border: 2px #7FA5BD solid; padding:10px;background-color:#DDDDDD;}  /*width:804px;*/

#box_head_600{width:604px;font-family:serif;font-size:24px;color:#FFFFFF; padding:3px 10px 3px 10px;background-color:#7FA5BD}
#box_body_600{border: 2px #7FA5BD solid; padding:10px;background-color:#DDDDDD;width:600px;} 
 
 
.leftbox{float:left;width:30%;padding:10px} 
.rightbox{float:left;width:60%;padding:10px} 
.boxes{float:left;width:40%;padding:10px} 
.boxes_white{border:1px solid #FFFFFF;margin:5px;padding:5px;float:left;width:300px}
.widebox{clear:both;padding:0px;margin:5px;}

.clearfix:after {content:".";visibility:hidden;display:block;height:0;clear:both;}

#list_head{font-family:serif;font-size:24px;color:#FFFFFF;width:604px; padding:3px 10px 3px 10px;background-color:#7FA5BD}
#list_body{width:600px;border: 2px #7FA5BD solid; padding:10px;background-color:#DDDDDD;}

#list_head_800{font-family:serif;font-size:24px;color:#FFFFFF;width:804px; padding:3px 10px 3px 10px;background-color:#7FA5BD}
#list_body_800{width:800px;border: 2px #7FA5BD solid; padding:10px;background-color:#DDDDDD;}

.head{font-family:serif;font-size:24px;color:#FFFFFF; padding:3px 10px 3px 10px;background-color:#7FA5BD}
.stdbox{font-family:serif;border: 2px #7FA5BD solid; padding:10px;background-color:#DDDDDD;}
.stdbox:after{content:".";visibility:hidden;display:block;height:0;clear:both;}
.stdbox_600{width:600px;border: 2px #7FA5BD solid; padding:10px;background-color:#DDDDDD}
.digit{text-align:right}

.stdbox_800{width:800px;border: 2px #7FA5BD solid; padding:10px;background-color:#DDDDDD}

.tre{width:100%;padding:0;margin:0;}
.third{width:33%;vertical-align:top;padding:0;margin:0;}
.line{width:100%;color:#7FA5BD;}

.adminlist{width:100%;padding:0;margin:0;}
.column20{width:150px;}


/*
 *	Users
 *
 */

#userselect{float:right}
#userlist_head{font-family:serif;font-size:24px;color:#FFFFFF;width:804px; padding:3px 10px 3px 10px;background-color:#7FA5BD}
#userlist{width:800px;border: 2px #7FA5BD solid; padding:10px;background-color:#DDDDDD;}
#useredit_head{font-family:serif;font-size:24px;color:#FFFFFF;width:804px; padding:3px 10px 3px 10px;background-color:#7FA5BD}
#useredit{width:800px;border: 2px #7FA5BD solid; padding:10px;background-color:#DDDDDD}


/*
 *	MTextadmin
 *
 */

#mtextlist_head{font-family:serif;font-size:24px;color:#FFFFFF;padding:3px 10px 3px 10px;background-color:#7FA5BD}
#mtextlist{border: 2px #7FA5BD solid; padding:10px;background-color:#DDDDDD}

/*
 *
 *	Organisations
 *
 */

 

/*
 *
 *	Structure
 *
 */

 .multibox{width:220px;border:1px solid #7FA5BD; font-family:Arial, Helvetica}
 .multibox_wide{width:280px;border:1px solid #7FA5BD; font-family:Arial, Helvetica}

.nodelist{margin:0;padding:0;padding-top:5px;}
.nodelist a{text-decoration:none;color:#000000}
.nodelist a:hover{text-decoration:underline;color:#000000}

.lev_1{margin:0;padding:5px}
.lev_2{margin:0; margin-left:10px;padding:5px 0 5px 0}
.lev_3{margin:0; margin-left:15px;padding:5px 0 5px 0}
.lev_4{margin:0; margin-left:20px;padding:5px 0 5px 0}
.lev_5{margin:0; margin-left:25px;padding:5px}
.lev_6{margin:0; margin-left:30px;padding:5px}
.lev_7{margin:0; margin-left:35px;padding:5px}
.lev_8{margin:0; margin-left:40px;padding:5px}
.lev_9{margin:0; margin-left:45px;padding:5px}

input.addcontent{border:1px solid #FFFFFF; color:#FFFFFF; background-color:#7FA5BD; width:20px; padding:0px;margin-left:5px;font-size:14px;}

/*
 *
 *	Image
 *
 */

.imagebox{border-top: 2px solid #FFFFFF;border-bottom: 2px solid #FFFFFF; margin-bottom:15px;padding-top:10px;padding-bottom:10px}
.imagebox:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.lbl{font-weight:bold;font-size:12px}
h5.imghead{font-family:serif;font-size:20px;color:#FFFFFF;font-weight:normal}


/*
 *
 *	Content
 *
 */

.templateselect{width:150px;display:inline; border:1px solid #FFFFFF;margin-left:20px;padding:2px;padding-left:20px;padding-right:20px}
.selectbtn{float:right;margin-top:5px}

/*.contenthead{padding:10px;padding-right:20px;background-color:#7FA5BD;float:left;margin-right:250px;}*/
/*.contentbox{border: 2px #7FA5BD solid; padding:0px;background-color:#DDDDDD;float:left;margin-right:250px;}*/
.contentbox{border: 2px #7FA5BD solid;width:800px; padding:0px;background-color:#DDDDDD;float:left;}
.contentbox h5 a{color:#FFFFFF}
.contentbox h5 a:hover{text-decoration:underline}
.contentbox:after {
   content: "Morbi ipsum velit, tincidunt sit amet, sagittis eu, elementum nec, odio. Nullam nec urna. Ut libero ninec leo. Suspendisse dignissim elit at risus. Fusce nibh dolor, dictum at, tempus sit amet, mattis vel, justo.Fusce nibh dolor, dictum at, tempus sit amet, mattis vel, justo.";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.contentboxhead{font-family:serif;font-size:24px;color:#FFFFFF;padding:3px 10px;background-color:#7FA5BD}
.contentboxinner{padding:10px;padding-right:20px;}


.imagecolumn{float:left;max-width:300px; min-width:300px; }
.imagecolumn:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.metacolumn{float:left;max-width:300px;min-height:600px}
.metacolumn:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.columnbox{margin-left:-250px;float: right;/*display:inline;*/width: 250px; /*Width of right column in pixels*/}
.contentright{font-size:12px;border: 2px #7FA5BD solid;margin-left:10px;margin-bottom:10px;padding:10px;padding-bottom:20px;min-width:250px; min-height:400px;background-color:#DDDDDD;}

.widetext{font-size:14px;width:100%;border:1px solid #7FA5BD; overflow: auto; }
.wideinput{font-size:14px;width:100%;border:1px solid #7FA5BD}

h5.texthead{font-family:serif;font-size:18px;color:#FFFFFF;font-weight:normal}

#rootNodes{width:200px}
#nodeTree{width:200px}

img.iconimg{vertical-align:text-bottom; margin-right:5px;border:0}

.node_1{margin:0; padding:5px 0 5px 0;}
.cont_1{margin:0; margin-left:0px;padding:5px 0 5px 0}

.node_2{margin:0; margin-left:20px;padding:5px 0 5px 0}
.cont_2{margin:0; margin-left:20px;padding:5px 0 5px 0}

.node_3{margin:0; margin-left:40px;padding:5px 0 5px 0}
.cont_3{margin:0; margin-left:40px;padding:5px 0 5px 0}

.node_4{margin:0; margin-left:60px;padding:5px 0 5px 0}
.cont_4{margin:0; margin-left:60px;padding:5px 0 5px 0}

.node_5{margin:0; margin-left:80px;padding:5px 0 5px 0}
.cont_5{margin:0; margin-left:80px;padding:5px 0 5px 0}

.node_6{margin:0; margin-left:100px;padding:5px 0 5px 0}
.cont_6{margin:0; margin-left:100px;padding:5px 0 5px 0}

.node_7{margin:0; margin-left:120px;padding:5px 0 5px 0}
.cont_7{margin:0; margin-left:120px;padding:5px 0 5px 0}

.node_8{margin:0; margin-left:140px;padding:5px 0 5px 0}
.cont_8{margin:0; margin-left:140px;padding:5px 0 5px 0}

.node_9{margin:0; margin-left:160px;padding:5px 0 5px 0}
.cont_9{margin:0; margin-left:160px;padding:5px 0 5px 0}

.boxright{float:right;margin:0px;font-size:12px}

.btnright{float:right;margin:0px;}
.dateline{height:25px; font-size:12px; }
.divider{height:10px; font-size:12px;}
.dateinput{margin:0 5px 0 0;width:75px; font-size:12px; padding:2px}
.timeinput{margin:0 0 0 5px;width:50px; font-size:12px; padding:2px}
.boxline{margin-bottom:10px; font-size:12px;}

h5.texthead_u{font-family:serif;font-size:20px;color:#FFFFFF;font-weight:normal; margin-bottom:10px; border-bottom:2px solid #FFFFFF}
h5.texthead_u_link{font-family:serif;font-size:20px;color:#FFFFFF;font-weight:normal; margin-bottom:10px; border-bottom:2px solid #FFFFFF; cursor:pointer}

#imagebox{margin-top:40px}
select#imgcatid{width:340px;margin-bottom:5px}
select#images{width:360px}

/*
.contentimagebox{background-color:#FFFFFF;width:462px;border: 2px solid #7FA5BD; margin:0 10px 10px 0;float:left}
.contentimagehead{background-color:#7FA5BD;color:#FFFFFF;padding:5px}
.contentimage{width:400px;margin:0;padding:10px;}
*/

.contentimagebox{background-color:#FFFFFF;width:100%;border: 2px solid #7FA5BD; margin:0 10px 10px 0;}
.contentimagehead{background-color:#7FA5BD;color:#FFFFFF;padding:5px}
.contentimage{margin:0;padding:10px;}
.contentimage img{width:100%}

#imgselectbutton{display:none;margin:15px 0 5px;}
#imgdeletebutton{display:none;margin:15px 0 5px;}

ul#imagetabs{margin-bottom:15px; margin-top:10px; border-bottom:1px solid #000000; padding-bottom:3px;padding-left:4px} 
ul#imagetabs li{cursor:pointer;display:inline; margin-right:2px; border: 1px solid #000000; border-bottom:0; padding:2px 5px 4px 5px; background-image:url("/admin/images/tab_gb.gif") bottom left;}
ul#imagetabs li.active{display:inline; border: 1px solid #000000; border-bottom:0; padding:2px 5px 4px 5px; background-color:#FFFFFF;}

.alttextbox{width:250px}
.formselect{width:220px;}
.formoption{width:190px;}

#webnodetree{width:350px;margin-bottom:5px}
#imglinkurl{width:350px;margin-bottom:5px}
.imglinkadmin{margin-bottom:20px}
#imglinktarget{width:350px;margin-bottom:15px}

/*
 *
 *	Forms
 *
 */

#formedit{padding:10px 0 10px 0;border-bottom:2px solid #FFFFFF}
#forminputedit{padding:10px 0 10px 0;border-bottom:2px solid #FFFFFF}
#forminputedit li:hover{text-decoration:underline;cursor:pointer}
#selectedforminput{display:none; border:2px solid #F9F9F9;margin-bottom: 14px;padding-bottom:10px}
#selectedforminput:after {content:".";visibility:hidden;display:block;height:0;clear:both;}

#editforminput_header{ background-color:#F9F9F9; padding:5px; }
#editforminput{padding:10px}
.editforminput_boxes{float:left;width:370px; margin: 0 10px 0 0}


#close_btn{font-size:18px; font-weight:bold; border:0px; background-color:#F9F9F9; color:#AAAAAA; cursor:pointer; float:right; padding:3px 3px 0 0; margin:0;  line-height:5px}

#forminputtype{float:right;width:250px}
#createnewinput{float:right;margin:0 0 0 5px}
#forminputlist{margin-top:5px}
#forminputlist li{width:250px}

#inputquestion{border:1px #7FA5BD solid;}
#inputcomment{border:1px #7FA5BD solid;}

.forminput_text{width:340px}
.forminput_textarea{width:340px}
.forminputoption_text{width:340px}

.blackhead{font-family:serif;font-size:18px;color:#333333;font-weight:normal;margin:0 0 10px 0; text-decoration:underline}


#options_no{float:right;display:none;margin:0 0 0 5px}
#deleteforminput{}
#viewforminput{}

textarea.standard{width:350px;height:100px}
input.standard{width:300px;}
 
/*
 *
 *	Formanswers
 *
 */
 
 #box_body_top{display:none}
	
.formanswer{cursor:pointer}

.widetable{border-collapse:collapse; width:100%; margin: 0 0 10px 0;}
.widetable td{border:1px solid white;padding:4px}

.stdtable{border-collapse:collapse; width:100%;}
.stdtable td{padding:4px; border:0}


td.question{width:45%}
td.answer{width:45%}
td.result{width:10%}
td.left{width:50%}
td.right{width:50%}

td.left80{width:80%}
td.right20{width:20%;text-align:right}

#searchbox{border:1px solid #FFFFFF; padding:10px; margin:0 0 10px 0}
#searchglobalvote{margin:0 0 0 15px; cursor:pointer}
#statistics{margin:0 0 0 5px; cursor:pointer}

#votetype{margin:0 0 0 15px}
#countryid{margin:0 0 0 15px}

.globalvote{cursor:pointer;clear:float}
.globalvote:hover{background-color:#EEEEEE}

.answerdate{width:120px;}
.answercontact{width:210px;}
.answercountry{width:160px;}
.answerstatus{width:80px;}
.answertype{width:80px;}
.answerip{width:100px;}
.gv_vote{width:20px;}
.deleteanswer{cursor:pointer}

/* Orders */

table.orderlist{width:100%}
table.orderlist td.id{width:10%; text-decoration:underline}
table.orderlist td.name{width:20%; text-decoration:underline}
table.orderlist td.city{width:15%; text-decoration:underline}
table.orderlist td.created{width:15%; text-decoration:underline}
table.orderlist td.status{width:15%; text-decoration:underline}
table.orderlist td.total{width:10%; text-decoration:underline}
table.orderlist td.payment{width:10%; text-decoration:underline}
table.orderlist td.ordervalue{width:12%; text-align:right}

.orders{cursor:pointer;clear:float}
.orders:hover{background-color:#EEEEEE}
table.orderrows{width:100%; border-width:0; border-style:hidden;  border-collapse: collapse;background-color:#DDDDDD}

table.orderrows td.head1{font-size: 12px; background-color:#DDDDDD; border-bottom:1px solid #FFFFFF; padding:3px 5px;width:60%}
table.orderrows td.head2{font-size: 12px; background-color:#DDDDDD; border-bottom:1px solid #FFFFFF; padding:3px 5px;width:10%}
table.orderrows td.head3{font-size: 12px; background-color:#DDDDDD; border-bottom:1px solid #FFFFFF; padding:3px 5px;width:15%}
table.orderrows td.head4{text-align:right;font-size: 12px; background-color:#DDDDDD; border-bottom:1px solid #FFFFFF; padding:3px 5px;width:15%}
table.orderrows td.transp{background-color:#DDDDDD; border:1px solid #DDDDDD}
table.orderrows td.sum{background-color:#DDDDDD; border:1px solid #DDDDDD; text-align:right}
table.orderrows td.right{text-align:right}
table.orderrows td.externalid{vertical-align:bottom;font-size:10px;width:16%}


table.orderdetails{margin:10px 0 20px 0;width:100%; border-width:2px; border-style:visible; border-collapse: none; background-color:#DDDDDD;}
table.orderdetails td{ border-width:0; padding:2px; margin:3px}
table.orderdetails td.left{width:150px}
table.orderdetails td.label{width:100px; padding:0 0 0 10px}
table.orderdetails td.value{width:150px;background-color:#EEEEEE;}


.whitehead{font-family:serif;font-size:20px;color:#FFFFFF;font-weight:normal;padding:0 20px 0 0}
#searchorders{margin:0 10px}
.deleteorder{float:right}

#dashboard{font-family: Times, Times New Roman, serif; font-size:18px}

/* Discussions */

table.commentlist{width:100%}
table.commentlist td.date{width:20%; text-decoration:underline}
table.commentlist td.ip{width:20%; text-decoration:underline}
table.commentlist td.content{width:30%; text-decoration:underline}
table.commentlist td.comment{width:30%; text-decoration:underline}

.comments{cursor:pointer;clear:float}
.comments:hover{background-color:#EEEEEE}

table.viewcomment{width:100%; border-width:1px; background-color:#DDDDDD}
table.viewcomment td.text{ width:50%; text-decoration:underline; border-width:0;background-color:#DDDDDD}
table.viewcomment td.author{ width:15%; text-decoration:underline;  border-width:0;background-color:#DDDDDD}
table.viewcomment td.commentdate{width:15%; text-decoration:underline; border-width:0;background-color:#DDDDDD}
table.viewcomment td.btns{ border-width:0;background-color:#DDDDDD}
table.viewcomment td{ margin:1px;border-width:0;background-color:#EEEEEE}

/* Easy admin */

.productbox{
	
	display: flex;
  	flex-wrap: nowrap; 
  	margin:0 20px 10px;
  	padding:10px;
  	border:2px #aaa solid}

.productpos{min-width:6%;font-size:4em; margin-right:15px;text-align:right}
.productthumb{padding-right:10px;max-width:5%;}
.productthumb img{width:100%}
.producttext{width:50%}

.editproduct{display:flex; flex-wrap:no-wrap;width:100%; min-height:400px}
.editarea{width:100%; padding:10px}




