:root{
	--blue: #1AAACC;
    --yellow: #FFD900;
    --red: #E44224;
    --grey: #ECECEC;
    --light-green: #D8DB69;
    --pink: #F0A6C5;
    --green: #92BF4E;	
}

@font-face {font-family: HelveticaRounded-Bold;src: url('/fonts/HelveticaRounded-Bold.otf');}
@font-face {font-family: HelveticaRounded-Black;src: url('/fonts/HelveticaRounded-Black.otf');}


.blue{background: var(--blue); color:#FFFFFF;}
.yellow{background: var(--yellow);}
.grey{background: var(--grey); }
.light-green{background: var(--light-green); }
.red{background: var(--red); }
.pink{background: var(--pink); }
.green{background: var(--green); color:#FFFFFF;}

span,p,ul,li,h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-family:arial,helvetica;font-size:14px;} /*color:#000000*/

html{margin:0;padding:0;font-family:arial,helvetica;font-size:14px; height:100%; min-height:100%}
body{margin:0;padding:0;font-family:arial,helvetica;font-size:14px; height:100%; min-height:100%}

body.main{height:100%; margin:0; padding:0; height:100%; min-height:100%}
ul{list-style:none;}
form{display:inline}
a{color:#000000}

#menuicon{position:fixed;top:0;left:0;margin:20px 30px;font-size:2.0em;cursor:pointer;z-index:100}
#carticon{position:fixed;top:0;right:0;margin:20px 30px 0 0;width:35px;height:35px;font-size:2.0em;cursor:pointer;z-index:100;}
.icontext{font-size:0.5em;}
#navigate{position:absolute;display:none; left:35px; top:10px}
#minicart{
	position:absolute;
	display:none;
	width:300px;
	right: 45px;
	top: 5px;
	padding:5px;
	font-size: 0.5em;
	background-color:#1AAACC;
 	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#minicart-inner{padding:10px; background-color:#FFFFFF; box-sizing:inherit;}
#minicart-inner h6{font-family: "Arial Rounded MT Bold"; font-size:1.5em}
#minicart-inner img{
	display:inline;
	vertical-align: middle;
}
li.orderrow-minicart{margin:10px 0;padding-bottom:10px; border-bottom:1px solid #1AAACC}
li.orderrow-minicart img{width:80px}
#gotocheckout{font-family: "Arial Rounded MT Bold"; font-size:1.2em; width:150px; color:#FFFFFF; padding:10px; background-color:#1AAACC; box-sizing: border-box;}
#close-minicart{font-family: "Arial Rounded MT Bold";font-size:1.2em;position:absolute; top:10px;right:17px;color:#DFDFDF;}
input[type=text]{font-size:16px; width:100%; padding:10px; margin:0 0 10px 0;border:0}
input.quantity{font-size:14px; width:20px; padding:1px; margin:0;}
input[type=text]:focus{background: #FFFFFF;}
textarea{font-size:16px; width:100%; padding:5px;border:0}

#menu{
	border-top:3px solid #1AAACC;
	border-right:3px solid #1AAACC;
	border-left:3px solid #1AAACC;
}
#menu li{
	font-family: HelveticaRounded-Black;
	border-bottom:3px solid #1AAACC;
	padding:8px 20px 12px;
	min-width:140px;
	font-size:1.4em;
	color: #000000;
	background-color:#FFFFFF;
}

.productimg{margin-bottom: 15px;}

img, iframe {
max-width: 100%;
height: auto;
display: block;
}

a{text-decoration:none}



.wrapper {
    width: 90%;
    margin: 50px auto;
}

.welcometext{font-family: "HelveticaRounded-Black"; font-style: bold; font-size:3em; color:#FFF; margin:20px 0;  text-align:center; margin:0 auto}*/

.headarea{position: relative; width: 100%; height: 600px}
.orderhead{position: relative; width: 100%; padding-top:30px}
.figures{position:relative; padding:0; margin:0 auto; width:40%}

#cashregister{display: block; margin-left: auto; margin-right: auto; width: 40%;}

.pinothebearhead{position:relative; margin:0 auto; padding:20px 0 0 0; width:40%; box-sizing: border-box}
.brick{height:600px;font-size:1.1em;line-height:1.3em}

.divider{font-family: "HelveticaRounded-Black"; font-style: bold; font-size:1.4em; color:#000; margin:40px 0 40px 30px; }

.masonry {
    padding: 0;
    -moz-column-rule: 1px solid #3FD4FA;
  	-webkit-column-rule: 1px solid #3FD4FA;
 	column-rule: 1px solid #3FD4FA;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 0.1em;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

.brick {
	 position:relative;
	 display: inline-block;
	 background: #fff;
	 
	 padding: 0 2em 2em;
	 margin: 0 0 1.5em;
	 width: 100%;
	 height: 500px;
	 overflow: hidden;
	 
	 box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 
	 border-bottom: 1px solid #3FD4FA;
	 border-width: 50%;
	}
.brick h6{font-family: "HelveticaRounded-Bold"; font-size:1em;font-weight:bold;margin-bottom:2px;color:#000000}

.prod-info-and-buttons{ 
	position: absolute; 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left:5px;
	bottom: 20px;
	left: 25px;
	font-size:12px;
	font-style:italic;
	color:#666666
}
.prod-info-and-buttons h6{font-family:Arial Rounded MT Bold; font-style:normal; font-size:1em;font-weight:bold;margin-bottom:5px;color:#000000}

.buybutton,.cartbutton,.soldoutbutton,.backbutton{
	
	float: left;
	height: 35px;
	background:#1AAACC;
	font-style: normal;
	margin:10px 5px 0 0; 
	padding:8px 10px;
	font-size: 1.15em;
	font-weight:bold; 
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded Bold", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	cursor: pointer;
	box-sizing: border-box;
	
}
.cartbutton{position:relative; padding:5px 10px; font-size:1.15em;width: 60px;}
.cartimg{max-width:60%; display:inline; vertical-align: middle;}
.cartitems{position:absolute;right:7px;top:10px;}
.soldoutbutton{padding:8px;background-color:#CCCCCC;cursor:auto}
.backbutton a{color:#FFF}

/**
  * Template 9 Product 
  */
  
#product{
	display: flex;
  	flex-wrap: nowrap;
	margin:0 auto; 
	margin-top:70px;
	width:90%; 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.product-box{position:relative; padding:10px;width:50%;box-sizing:inherit;background-color:#F0F0F0}
.product-box img{margin:0;}
.product-box-inner{padding:10px;font-size:1.3em;box-sizing:inherit;line-height:1.5em}
.product-box-inner h3{font-family: "HelveticaRounded-Black"; font-size:1.8em; line-height:1em;margin:10px 0 20px 0;}
#overlay{position: absolute;display:none;z-index: 9; top: 0;left: 0;width: 100%;height:150%;background-color:#FFF; filter:alpha(opacity=50); opacity:0.5;}
#loader{position:absolute; display:none; z-index:10; top:50%; left:50%; padding:10px; margin-left: -120px;}


/**
  * Template 3 About
  */
  
.block{
	display: flex; 
	flex-wrap: no-wrap;
	justify-content: center;
	min-height:500px;
	padding: 0 40px;
}
.blockcontent{margin:4em; min-width:600px; min-height:400px;}
.blockcontent h3{font-family:HelveticaRounded-Black;font-size:3em;margin:10px 0}
.blockcontent p{margin-bottom:1.5em;font-size:1.4em; line-height: 1.6em; letter-spacing:0.05em;}
.narrow{min-width:400px; max-width:400px}
.wide{min-width:800px;}

#instafeed{display: flex; flex-direction:row; flex-wrap: wrap;}
#instafeed img{min-width:80px; margin:10px}


@media only screen and (max-width:600px) {
	.wrapper {width: 95%; margin: 50px auto;}
	.ordertemplate{width:90%;}
	.headarea{position: relative; width: 100%; min-height: 240px}
	.figures{position:relative; padding:0; margin:0 auto; width:50%}
	.welcometext{position:relative; font-size:1.3em; padding:0 0 20px 0; margin:0 auto; width:80%}
	.pinothebearhead{position:relative; margin:0 auto; width:50%}
	.brick{height:440px;font-size:0.8em}
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    #product{display:block}
    .product-box{width:100%;min-height:300px;}
    .product-box-inner{padding:10px;font-size:1em;line-height:1.3em}
    .product-box-inner h3{font-size:1.2em;margin:0 0 10px 0;}
    .soldoutbutton{padding:10px 8px 5px;font-size:0.7em}
    .buybutton{padding:11px 8px 5px;}
    .prod-info-and-buttons{margin:-1px}
    .brick h6{margin-bottom:10px}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	.headarea{position: relative; width: 100%; min-height: 350px}
	.ordertemplate{width:90%;}
	.figures{position:relative; padding:0; margin:0 auto; width:50%}
	.welcometext{position:relative; font-size:1.7em; padding:0 0 20px 0; margin:0 auto; width:80%}
	.pinothebearhead{position:relative; margin:0 auto; padding:20px 0 0 0; width:50%}
	.brick{min-height:400px;font-size:1em}
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    #product{display:block}
    .product-box{width:100%;min-height:250px;}
    .product-box-inner{padding:10px;font-size:1.2em;line-height:1.3em}
    .product-box-inner h3{font-size:1.2em;margin:0 0 10px 0;}
}


@media only screen and (min-width: 801px) and (max-width: 1200px) {
	.headarea{position: relative; width: 100%; min-height: 400px}
	.ordertemplate{width:80%;}
	.figures{position:relative; padding:0; margin:0 auto; width:40%}
	.welcometext{position:relative; font-size:2.2em; padding:0 0 20px 0; margin:0 auto; width:80%}
	.pinothebearhead{position:relative; margin:0 auto; padding:20px 0 0 0; width:50%}
	.brick{height:530px;font-size:1em;line-height:1.2em}
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    
    .product-box{width:50%;min-height:250px;}
    .product-box-inner{padding:10px;font-size:1.2em;line-height:1.3em}
    .product-box-inner h3{font-size:1.1em;margin:0 0 10px 0;}
}

@media only screen and (min-width: 1201px) and (max-width: 2200px) {
	.headarea{position: relative; width: 100%; min-height: 500px}
	.figures{position:relative; padding:0; margin:0 auto; width:40%}
	.welcometext{position:relative; font-size:2em;  padding:0 0 20px 0; margin:0 auto; width:60%}
	.pinothebearhead{position:relative; margin:0 auto; padding:20px 0 0 0; width:40%; box-sizing: border-box}
	.brick{min-height:540px;font-size:1.1em;line-height:1.3em}
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}



/* a comment */
